* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8f5ff;
}

.texto {
    width: 500px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
}

.portada {
    width: 100%;
    display: flex; /* Utilizamos 'display: flex' para centrar los elementos de la portada */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

.imgheader {
    width: 150px;
    justify-items: center;
}

.img {
    width: 100px;
    justify-items: center;
}

.icono {
    width: 128px;
    height: 128px;
    justify-items: center;
    display: inline-block;
    text-align: center;
}


#menu {
    height: 5%;
    padding: 5px;
    background-color: rgb(95, 134, 207);
    text-decoration: none;
    color: white;
    list-style-type: none;
}

#contenedor {
    width: 75%;
    border-radius: 10px;
    background-color: #e8f5ff;
    text-align: center;
    margin: 0 auto; /* Centramos el contenedor horizontalmente */
}

#contenido {
    margin: 0.5em;
    background-color: rgb(95, 134, 207);
    border-radius: 5px;
    text-align: center;
    height: 10%;
    color: white;
}

#contenido2 {
    margin: 0.5em;
    width: 15%;
    background-color: #cadffb;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    /* Trancisiones       */
    justify-items: center;
    transition:background-color 0.5s, height 0.8s ;
    overflow: hidden;
    height: 100px;
    
}
/* cuando se pasa el mouse por encima  */
#contenido2:hover{
    background-color: rgb(95, 134, 207);
    height: 170px;
}

#pie {
    height: 1%;
    background-color: rgb(95, 134, 207);
    color: black;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

ul {
    text-align: center;
    padding: 1.5px;
    
}
li {
    display: inline;
    padding: 10px 46px;
    
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(5, 31, 80);
    text-decoration: underline;

}

/* Media query para pantallas más pequeñas que 750px */
@media screen and (max-width: 700px) {
    body{
        background-color: black;
    }
    .texto {
        width: 80%;
        margin: 0 auto;
    }
    li{
        display: block;
        
    }

    #contenedor {
        width: 100%;
        max-width: 1000px;
    }

    #contenido2 {
        width: 80%;
        margin: 0 auto;
    }

    #portada {
        flex-direction: column; /* Cambiamos la dirección de los elementos de la portada a columna */
        align-items: flex-start; /* Alineamos los elementos a la izquierda */
    }

    #menu {
        text-align: center; /* Centramos el texto del menú */
    }
}